$light-blue: #4a90e2;
$blue: #00408b;

$red: #d0021b;

$subscribe: #f5a623;
$subscribe-bg: #fff2dc;

$gray-100: #e1e1e1;
$gray-200: #f2f2f2;
$gray-300: #c8c8c8;
$gray-400: #757575;
$gray-500: #9b9b9b;
$white: #ffffff;
$black: #000000;

$normal: #616161;
$success: #21ba45;
$error: #c10015;
